.App {
  text-align: center;
}

.banner-main {
  width: 100%;
  padding: 12%;
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}
